@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Unbounded:wght@200..900&display=swap');
.unbounded {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:white;
}